<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h1>
    <%= title %>
    </h1>
    <ul>
        
        <% data.forEach(function(recipe) { %>
            <li><%= recipe.id %></li>
            <li><%= recipe.recipe %></li>
        <% }); %>
    </ul>
</body>
</html>